# Ignorar tudo exceto o essencial
*
!*/
!.gitignore
!README.md
!relatorio.pdf
!*.s

# Ignorar binários pesados e temporários
Ripes-v2.2.6-linux-x86_64.AppImage
*.aux
*.log
*.toc
*.out
*.fdb_latexmk
*.fls
*.synctex.gz
relatorio.txt
